@charset "UTF-8";

div#interface {
    height: 1100px;
}



form {
    width: 500px; /* largura */
    margin: auto; /* centralizar */
}

input, textarea {
    font-family: sans-serif;
    font-weight: normal; /* remover qualquer negrito que existe */
    font-size: 13pt;
    background-color: rgba(255, 255, 255, 0.7); /* branco com opacidade 70% */
}

input:hover, textarea:hover {
    background-color: #ddd;
}

legend {
    color: #888; /* Texto cinza escuro */
    font-weight: bolder; /* negrito */
    font-size: 13pt;
    font-family: sans-serif;
}

fieldset {
    border-color: #cecece; /* Cinza claro */
    margin: 20px;
}

fieldset#idSexo {
    width: 150px;
}

fieldset#idUsuario {
    background: url("icone-contato.png") no-repeat 95% 95%;
}

fieldset#idEndereco {
    background: url("icone-endereco.png") no-repeat 95% 95%;
}

fieldset#idMensagem {
    background: url("icone-mensagem.png") no-repeat 95% 95%;
}
















